.el-dialog {
  border-radius: 10px !important;
}
.el-dialog__body {
  padding: 10px 20px 30px 20px !important;
}
.el-popover__title {
  margin-top: 10px;
}

.button-in-dark.el-button {
  border: solid 1px #fff;
}

/* .el-button {
  border-radius: 0 !important;
} */

.vjs-tree {
  font-size: 12px !important;
}

.app_block_title_small {
  padding: 5px 0; font-weight: 500; font-size: 14px;
}

.app_alert_mini.el-alert {
  padding: 0px 8px 3px 8px;
}

.app_alert_block.el-alert {
  display: block;
}
.app_alert_block.el-alert .el-alert__content {
  display: block;
} 

.app_form_mini .el-form-item {
  margin-bottom: 0px !important;
}

.app_form_normal .el-form-item {
  margin-bottom: 18px !important;
}

.app_form_mini .el-form-item__label {
  padding: 0px !important;
}

.app_form_12px .el-form-item__label {
  font-size: 12px !important;
  line-height: 24px !important;
}

.app_form_12px .el-form-item__content {
  font-size: 12px !important;
  line-height: 24px !important;
}

.app_margin_bottom {
  margin-bottom: 10px;
}

.app_margin_top {
  margin-top: 10px;
}

.app_text_label {
  font-size: 12px;
  color: #909399;
}

.app_text_regular {
  font-size: 12px;
  color: #606266;
}

.app_text_description {
  font-size: 13px;
  color: #909399;
}

.app_text_strong {
  font-weight: 600;
  color: #3EAF7C;
}

.app_text_left {
  text-align: left
}

.app_text_right {
  text-align: right
}

.app_text_error {
  color: #f56c6c;
  font-weight: 500;
}

.noselect {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.app_text_mono {
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}


.app_input_mono textarea{
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}

textarea{
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}

.app_input_mono input{
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}

input {
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}

.app_button_mono button{
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
}

.app_input_right input{
  text-align: right;
}

.app_input_no_border textarea {
  border: 0px;
}

.app_font_size {
  font-size: 14px;
}

.app_header_line_height {
  line-height: 60px;
}

.app_header {
  line-height: 60px;
  font-weight: 800;
}

.app_full_height {
  height: 100%;
}

.app_notify {
  cursor: pointer;
}

.app_namespaced_content {
  padding-bottom: 30px;
}

.app_page_body {
  margin: 10px 20px 50px 20px;
  text-align: left;
}

.app_code {
  background-color: black;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 600;
  font-family: Monaco,Menlo,Consolas,Bitstream Vera Sans Mono,monospace;
}
.app_code code {
  color: white;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.42);
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(46, 80, 133, 0.8);
} 
/* ::-webkit-scrollbar-thumb:window-inactive {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
} */ 

a {
  text-decoration: none;
  color: #007AF5;
}

.app_codemirror_auto_height .CodeMirror {
  height: auto;
}

.app_codemirror_auto_height .CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
  word-break: break-all;
}

.app_codemirror_auto_height .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.cm-s-darcula {
  /* font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', "微软雅黑", monospace, serif !important; */
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace !important;
}

.CodeMirror {
  /* font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', "微软雅黑", monospace, serif !important; */
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace !important;
  font-size: 13px;
  line-height: 18px;
}
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace !important;
}

.kuboard-spray-upgrade-notification {
  width: 400px;
}

.app_white_link.el-link {
  color: white;
}

.app_description {
  background-color: #f4f4f5;
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  color: var(--el-text-color-secondary);
}

pre {
  font-family: Consolas,Menlo,Bitstream Vera Sans Mono,Monaco,"微软雅黑",monospace;
  word-spacing: normal;
  white-space: pre-wrap;
}