@use "sass:map";

$--color-white: #fff !default;
$--color-black: #000 !default;

// $--color-kuboard-header: #2e3131;
$--color-kuboard-header: #2E5085;
// $--color-menu: mix($--color-white, $--color-kuboard-header, 95%);
$--color-menu: $--color-white;

// $--color-primary: #2E5085 !default;
$--color-primary: #234883 !default;
// $--color-success: #3EAF7C !default;
$--color-success: #0FBE8F !default;

$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

// $--color-warning: #FFA13C !default;
$--color-warning: #FF8807 !default;
// $--color-danger: #f56c6c !default;
$--color-danger: #F44656 !default;
$--color-info: #909399 !default;
$--color-golden: #f2be45 !default;

$--color-golden-light: mix($--color-white, $--color-golden, 80%) !default;
$--color-golden-lighter: mix($--color-white, $--color-golden, 90%) !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-text-primary: #222222 !default; //#234883 !default;
$--color-text-regular: mix($--color-white, $--color-text-primary, 30%) !default;
$--color-text-secondary: mix($--color-white, $--color-text-primary, 50%) !default;
$--color-text-placeholder: mix($--color-white, $--color-text-primary, 70%) !default;

$--colors: () !default;
$--colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #234883,
    ),
    'success': (
      'base': #0FBE8F,
    ),
    'warning': (
      'base': #FF8807,
    ),
    'danger': (
      'base': #F44656,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $--colors
);
