@use "sass:map";

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #234883,
    ),
    'success': (
      'base': #0FBE8F,
    ),
    'warning': (
      'base': #FF8807,
    ),
    'danger': (
      'base': #F44656,
    ),
    'error': (
      'base': #F44656,
    ),
  ),
  $common-component-size: (
    'small': 28px,
  ),
  $table: (
    'header-bg-color': var(--el-color-primary-light-8),
  ),
);

@use "element-plus/theme-chalk/src/index.scss" as *;
