/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .3s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}


/* kb-events transition */
.kb-events-enter-active,
.kb-events-leave-active {
  transition: all .5s;
}

.kb-events-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.kb-events-leave-active {
  opacity: 0;
  transform: translateY(20px);
}

.kb-events-move {
  transition: all .5s;
}

.kb-events-leave-active {
  position: absolute;
}
